* {
    margin: 0;
    padding: 0;
}

.gnb-menu {
    text-align: center;
    width:100%;
    position: fixed;
    top: 0;
    margin: 0;
    border-bottom: 1px solid black;
    height: 50px;
    background-color: white; 
} 


.gnb-ul {
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
    box-sizing: border-box;
}

.gnb-li {
    float: left;
    list-style-type: none;
    width: 25%;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
}

.gnb-li a {
    text-decoration: none;
    font-weight: 700;
    color: black;
}